// about page css



//body of the page
.aboutbody {
	padding: 0% 20% 20% 20%;
	margin: 0;

	background: url(/assets/images/anotherdrawing.jpg) top center repeat, white;
	//background-size: 60%;
	font-size: 62.5%;

	display: flex;
	flex-direction: column-reverse;
	}

// t i t l e
//box the title goes in
.abouttitlebox {
	display: flex;
	justify-content: center;
	}

//title itself
#abouttitle {
	margin: 0;

	z-index: 100;

	font: 22em/1.2em "mymonospace", monospace;
	letter-spacing: -0.075em;
	color: #635dfd;
	text-shadow: white 0 0 0.1em, white 0 0 0.05em, white 0 0 0.05em, white 0 0 0.05em,white 0 0 0.05em, white 0 0 0.05em,white 0 0 0.05em, white 0 0 0.05em;
	}

// b u l k
//bulk of the page
.aboutbulk {
	background: rgba(252,236,255,0.85);
	border: 1em solid white;
	border-radius: 12px;

	display: flex;
	justify-content: center;
	}

//text 
#abouttext {
	padding: 0% 4% 4% 4%;

	font: 2.7em/1.5 "Georgia", serif;
	text-shadow: white 0 0 0.3em, white 0 0 0.3em, white 0 0 0.1em, white 0 0 0.1em, white 0 0 0.1em, white 0 0 0.1em, white 0 0 0.1em,white 0 0 0.1em, white 0 0 0.1em,white 0 0 0.1em, white 0 0 0.1em,white 0 0 0.2em, white 0 0 0.2em, white 0 0 0.2em;
	}