//css for contact page


.contactbody {
	margin: 15%;

	background: url(/assets/images/contactart.png) 50% 0% repeat, url(/assets/images/contactart.png) 0% 90% repeat #9F9AF2;
	background-size: 50%, 50%;
	background-origin: content-box;
	font: 62.5%;

	display: flex;
	flex-direction: column;
	align-items: center;
	}

// b u l k 
//the box the text goes in (above and below)
.contactbulk {
	margin: 0%;
	padding: 4%;
	width: 92%;

	background-color: rgba(255, 255, 255, 0.7);
	}

//the text itself
.contacttext {
	margin:0;

	font: 2.8em "Optima", "Arial", serif;
	text-align: center;
	text-shadow: white 0 0 0.3em, white 0 0 0.3em,white 0 0 0.3em, white 0 0 0.3em;
	}

// t i t l e 
//box for the title
.contacttitlebox {
	margin:0;
	padding:3vmax;

	//background: linear-gradient(180deg, white 5%, #9F9AF2 50%, white 95%);
	//background-clip: text;

	display: flex;
	}

//title itself
 #contacttitle {
 	margin: 0;
 	//height: 0.1em;

	font: bold 14em/0.85em "mymonospace", monospace;
	font-weight: 500;
	letter-spacing: -0.08em;
	color: white;
	text-shadow: #9F9AF2 0 0 0.3em, #9F9AF2 0 0 0.3em, #9F9AF2 0 0 0.3em, #9F9AF2 0 0 0.3em;
 }

