//homepage_diamonds

@mixin link($fontsize) {
	a:link, a:visited {
		background-color: transparent;
		color: black;
  		padding: 14px 25px;
  		border-radius: 8px;
		text-decoration: none;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
  		font-size: $fontsize;
	}
	a:hover, a:active {
		background-color: rgba(255,255,255,0.5);
	}
}