// bottom link section of each post

//for fomatting the boxes of links at the bottom of the page
.bottombox { 

    padding: 3% 5% 5% 5%;

    display: flex;
    flex: 0 1 90%;
    justify-content: center;
    gap: 2%; 
    }

//formatting the boxes and font
.bottomlinks { 

    padding: 2%;

    background: rgba(255,255,255,0.7);
    border-radius: 5px;

    &:hover {

    	box-shadow: darkblue 0 0 1em, black 0 0 0.5em;
    	background: rgba(255,255,255,0.9);
    	text-decoration: underline;
    	text-decoration-thickness: 10%;
    	color: black; 
   		}
    }

.bottomlinksfont { 
    font: 3vmin "mymonospace", monospace;
    color: darkblue;

    &:hover {
	    text-decoration: underline;
	    text-decoration-thickness: 10%;
	    color: black; 
    }
    } 



