//post body

@use 'fonts' as *
.postbody {
    padding: 4vh 10% 8% 10%;

    display: flex;
    flex-direction: column;
    align-items: center; 
    }

//bulk of page, contents of post
.postbulk { 
    max-width:70vw;
    z-index: 50;

    display: flex;
    flex-wrap: wrap;
    }

//text in post
.posttext { 
    padding: 4vmax 5% 5% 5%;

    font: 2em/1.5 "Optima", "Arial", sans-serif;
    text-shadow: white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em;
    background: rgba(255,255,255,0.5);
    }