//post body

//bulk of page, contents of post
.postbulk { 
    max-width:70vw;
    z-index: 50;

    display: flex;
    flex-wrap: wrap;
    }

//text in post
.posttext { 
    padding: 4vmax 5% 5% 5%;

     font: 2em "Georgia", serif; 
     text-shadow: white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em, white 0 0 0.5em;
     background: rgba(255,255,255,0.5);
    }