//post body


.postbody {
    padding: 4vh 8% 8% 8%;

    display: flex;
    flex-direction: column;
    align-items: center; 
    }

//bulk of page, contents of post
.postbulk { 
    max-width:70vw;
    z-index: 50;

    background: rgba(255,255,255,0.7);

    display: flex;
    flex-wrap: wrap;
    }

//text in post
.posttext { 
    padding: 2% 2vw 2% 2vw;

    font: 1.5em/1.7 "Georgia", serif;
    white-space: pre-line;
    text-indent: 4% each-line;
    text-shadow: white 0 0 0.15em, white 0 0 0.15em, white 0 0 0.15em, white 0 0 0.15em, white 0 0 0.15em, white 0 0 0.15em, white 0 0 0.15em, white 0 0 0.15em, white 0 0 0.15em, white 0 0 0.15em;

    p,h1,h2,h3,li {
    background: rgba(255,255,255,0.9);
    }

    ul {
      list-style-type: square;
      list-style-position: inside;
      padding: 0;
    }

    h1,h2,h3 {
    display: inline;
    margin: 0;
    text-indent: 0;
    }

    p {
    display: inline;
    padding: 0.22em;
    }

    blockquote {
    display:inline;
    }

    a{
    color: black;
        &:hover {
        color:darkblue;
        }
    }

    mark {
    background-color:  rgb(249,218,250);
    }
    
    img {
    float: left;
    max-width: 60vw;
    margin: 1em;
    }

    }