// homepage colors

$orangedcolor: #EE9C40; // orange diamond
$bluedcolor: #0102E1; // blue diamond, same as background
$bluepinkdcolor: #C967E4; // pink of blue pink diamond
$greendcolor: #B5F962; // green diamond
$pinkdcolor: #E43155; // pink diamond 
$yellowdcolor: #D3FB51; // yellow diamond
$purpledcolor: #CA2AF6; // purple diamond
$reddcolor: #EA3324; // red diamond