<!DOCTYPE html>

<html>

<head>

	<meta charset="UTF-8">
	<meta name="author" content="Blue Surgeon">
	<meta name="keywords" content="Blue Surgeon, music, about">
	<link rel="stylesheet" href="/assets/css/styles/mystyle.css">
	<link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">

</head>

<body class="aboutbody">

	<div class="aboutbulk">
		<span id="abouttext">{{ content }}</span>
	</div>
	
	<div class="abouttitlebox">
		<p id="abouttitle">{{ page.title }}</p>
	</div>

</body>

</html>