// title font

@mixin title-font {

	z-index: 2;

	font-size: 24em;
	font-family: "DIN alternate";
	font-stretch: ultra-condensed;

	color: white;
	text-shadow: $bluepinkdcolor 1px 0 100px;

	letter-spacing: -0.05em;
	text-align: start;
	line-height: 0.55em;
}

