// title font

@mixin title-font {
	font-size: 24em;
	font-family: "DIN alternate";
	font-stretch: ultra-condensed;
	color: white;
	letter-spacing: -0.05em;
	text-align: start;
	text-shadow: #C967E4 1px 0 100px;
	line-height: 0.55em;
}